[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
pillow = "*"
torchvision = "*"
scikit-learn = "*"
pandas = "*"
pyarrow = "*"
tqdm = "*"
tabulate = "*"
torchaudio = "*"
pyhessian = "*"

[dev-packages]

[requires]
python_version = "3.10"

[packages.dvc]
extras = [ "gs",]
version = "*"
