[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "downloadpytorch"

[packages]
dvc = {extras = ["gs"], version = "*"}
torch = "*"
numpy = "*"
pillow = "*"
torchvision = "*"
scikit-learn = "*"
pandas = "*"
pyarrow = "*"
tqdm = "*"
tabulate = "*"
torchaudio = "*"
pyhessian = "*"

[dev-packages]

[requires]
python_version = "3.10"
