[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "downloadpytorch"

[packages]
dvc = {extras = ["gs"], version = "*"}
torch = {version = "==2.2.0", index = "downloadpytorch"}
numpy = "*"
pillow = "*"
torchvision = {version = "==0.17.0", index = "downloadpytorch"}
scikit-learn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
